{{> layout/header}}

<div class="container p-5">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="BoardBox">

        </tbody>
    </table>

</div>

<script>
    $.ajax({
        url: "/api/boards",
        type: "get"
    }).done((res) => {
        console.log("성공")
        console.log(res);
        let boardList = res.body
        boardList.forEach((Board) => {
            $("#BoardBox").append(render(Board));
        })
    }).fail((res) => {
        alert(res.responseJSON.msg);
        console.log("실패")
        console.log(res)
    })


    function render(Board) {
        return `
        <tr id="board-${Board.id}">
            <td>${Board.id}</td>
            <td>${Board.title}</td>
            <td>${Board.content}</td>
            <td>${Board.author}</td>
            <td>
                <div class="d-flex">
                    <button onclick="del(${Board.id}" class="btn btn-danger">삭제</button>

                    <form action="/board/${Board.id}/updateForm" method="get">
                        <button class="btn btn-warning">수정</button>
                    </form>
                </div>
            </td>
        </tr>`;
    }
</script>

{{> layout/footer}}